<div class="modal-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Nueva receta</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="photo-container">
      @if (imageBase64) {
        <img [src]="imageBase64" alt="Captured Photo" />
      }
    </div>
    <div class="div-buttons">
      @if (imageBase64) {
        <ion-button color="warning" type="submit" (click)="uploadPhoto()">Enviar archivo</ion-button>
        <ion-button color="warning" type="submit" (click)="deletePhoto()">Eliminar foto</ion-button>
      } @else {
        <ion-button color="warning" type="submit" (click)="takePhoto()">Realizar foto</ion-button>
      }
      <ion-button color="warning" type="button" (click)="closeModal()">Cerrar</ion-button>
    </div>
</div>
