<ion-header>
    <ion-toolbar color="warning">
        <ion-title>Recetas</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" type="submit" (click)="showModal()">Nueva Receta</ion-button>
            <ion-button color="dark" type="submit" (click)="logout()">Salir</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="main">
    @if (recipees$ | async; as recipees) {
        @for (recipee of recipees; track recipee.id) {
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ recipee.nombre }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-button color="dark" type="submit">
                        <ion-icon name="pencil"></ion-icon>
                    </ion-button>
                    <ion-button color="dark" type="submit" (click)="deleteRecipee(recipee)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                    <ion-button color="dark" type="submit" (click)="getRecipeePDF(recipee)">
                        <ion-icon name="document-attach-outline"></ion-icon>
                    </ion-button>
                </ion-card-content>
            </ion-card>
        }
    } @else {
        <p>NO HAY RECETAS</p>
    }
</ion-content>

<ion-modal [isOpen]="display" [backdropDismiss]="false">
    <ng-template>
        <app-recipee-modal (closeDialogEvent)="closeDialog()" style="overflow-y: scroll; background: transparent;"></app-recipee-modal>
    </ng-template>
</ion-modal>
